body
{
    background-color: rgb(252, 252, 255);
}
.main
{
    background-color: rgb(255, 255, 255);
}

.col
{
    border: 1px;
}
.profile-image
{
    width: 100%;
}
#heading
{
    font-size: 5rem;
    font-weight: bold;
}
#subline
{
    font-size: 30px;
    font-weight: normal;
}
.sidebars
{
    background-image: url("../images/subtract.png");
    background-repeat: no-repeat;
    background-size : contain;
}
.social-logo
{
    width: 50%;
    margin: 0 auto;
}
.image-icon
{
    width: 100%;
    
}
.sidebar-image-icon
{
    width: 90%;
}
.sidebar-heading
{
    font-size: 100%;
    font-weight: bold;
}
.cat-title
{
    font-size: 3em;
}
.light300
{
    font-family: 'Roboto Mono', monospace;
}
.thin100
{
    font-family: 'Roboto Mono', monospace;
}
a
{
    color: black;
}
.social-logo:hover
{
    width: 65%;
}